* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* background: linear-gradient(45deg, #6b63ff6c, #fff, #6b63ff3a, #fff, #fff); */
  background-image: url(./img.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
  font-size: initial;
  width: 120px;
  margin: 0 auto;
  border: unset;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #6C63FF;
}
.card {
  width: 500px;
  height: 300px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  z-index: 1;
  position: relative;
  overflow: hidden;
  font-size: 10em;
  display: grid;
  grid-template-rows: 1fr 30px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 10px;
  transition: all .3s cubic-bezier(.17, .67, 1, .46) 1.17s;
  background-color: rgba(0, 0, 0, .1);
}
.card p {
  text-shadow: 20px 20px 10px rgba(0, 0, 0, 0);
  transition: 1s ease-out;
}

.card::before {
  content: " ";
  width: 20px;
  height: 20px;
  transition: all 1.5s cubic-bezier(.17, .67, 1, .46) .17s;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(-50%, 50%);
  transform-origin: center;
  background: linear-gradient(90deg, #409EFF, #6C63FF);
  border-radius: 50%;
  pointer-events: none;
  filter: blur(20px);
}

.dark-theme .card {
  box-shadow: 0 0 15px 2px #6C63FF;
}
.dark-theme .card p {
  text-shadow: 20px 20px 10px rgba(0, 0, 0, .3);
}
.dark-theme .card::before {
  width: 1200px;
  height: 1200px;
}